
<h2><%= @band.name %></h2>

<h3>Genre: <%= @band.genre %></h3>

<% if logged_in? && current_user.band == @band %>
  <p><%= link_to "Hello, rep! Add new videos here.", 
                 new_band_music_video_path(@band) %></p>
<% end %>

<ul>
  <% @band.music_videos.each do |music_video| %>
    <li>
      <%= music_video.title %><br>
      <iframe id="ytplayer" type="text/html" width="320" height="180"
       src="http://www.youtube.com/embed/<%= music_video.video_embed_uri %>?origin=http://localhost"
       frameborder="0"/></iframe>
    </li>
  <% end %>
</ul>

<footer>
  <%= link_to "Back to Home", root_path %>
</footer>
