<!DOCTYPE html>
<html>
<head>
  <title>ExampleVideoApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1><%= link_to "Pop-up Vid.io", root_path %></h1>
    <nav>
      <%= link_to "Log In as Band Rep", login_path %> |
      <%= link_to "Sign up as a Band Rep!", new_band_rep_path %>
    </nav>
  </header>

  <% flash.each do |name, message| %>
    <div class="flash-message flash-message-<%= name %>">
      <h4><em><%= message %></em></h4>
    </div>
  <% end %>
  
  <%= yield %>
</body>
</html>
